table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    background-color: white;
}



body{
    background-color: lightblue;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

.home-button{
    background-color: #4CAF50;
			/* Green */
			border: none;
			color: white;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 4px;
}