

/**
 * --baltic-blue: #005ca9ff;
--ink-black: #04080fff;
--porcelain: #fdfffcff;
--verdigris: #18a999ff;
--muted-teal: #69a197ff;
 */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 25px 0;
	background-color: var(--porcelain);
}

h1 {
	text-decoration: underline;
	text-align: center;
	font-weight: bolder;
}

body {
	background-color: var(--porcelain);
}

th,
td {
	border: 1px solid black;
	text-align: center;
}

.home-buttons {
	background-color: #005ca9ff;
	border: none;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	margin-bottom: 35px;
	width: 50%;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: underline;
	font-variant: small-caps;
	font-weight: bold;
	color: black;	
	&:hover {
		background-color: darkgreen;
		color: white;	
	}
}

.buttons-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.netid-select {
    border: none;
    background: transparent;
    font: inherit;
    padding: 0;
    cursor: pointer;
}
.netid-select:focus {
    outline: none;
}