<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
        <script src="/crewScript.js"></script>
    <script src = "/script.js"></script>  
</head>

<body class="page-background" onload="findNetIDFromName('', 'netID', 'Crew'); addEventListeners('Crew');">

    <button onclick="location.href='/'" class="basicButton">Home</button>
    <button onclick="location.href='/crew/loadpage'" class="basicButton"
        style="font-size: smaller; margin-bottom: var(--space-md);">Back to Crew List</button>

    <h1 style="text-align: center;">ADD CREW PAGE</h1>

    <form id="add-crew-form">
        <div class="input-with-button">
            <label for="netID" class="addElementLabel">NetID:</label>
            <input type="text" id="netIDInput" name="netID" class="formInput" required>
            <button type="button" class="square-button"
                onclick="clearInput('netIDInput'); clearInput('firstName'); clearInput('lastName'); findNetIDFromName('', 'netID', 'Crew');">×</button>
        </div>


        <label for="firstName" class="addElementLabel">First Name:</label>
        <input type="text" id="firstName" name="firstName" class="formInput">

        <label for="lastName" class="addElementLabel">Last Name:</label>
        <input type="text" id="lastName" name="lastName" class="formInput">

        <div style="text-align: center;">
            <select size="5" id="student-select" onclick="addSetNetID(this, 'Crew')"></select>
            <option value="netID"></option>
        </div>

        <label for="wigTrained" class="addElementLabel">Wig Trained(Check if yes):</label>
        <input type="checkbox" id="wigTrained" name="wigTrained" value="1" class="checkBox">
        <br><br>

        <label for="makeupTrained" class="addElementLabel">Makeup Trained(Check if yes):</label>
        <input type="checkbox" id="makeupTrained" name="makeupTrained" value = "1" class="checkBox">
        <br><br>

        <label for="musicReading" class="addElementLabel">Music Reading(Check if yes):</label>
        <input type="checkbox" id="musicReading" name="musicReading" value = "1"class="checkBox">
        <br><br>

        <label for="lighting" class="addElementLabel">Lighting Training(Describe):</label>
        <input type="text" id="lighting" name="lighting" class="formInput">

        <label for="sound" class="addElementLabel">Sound Training(Describe):</label>
        <input type="text" id="sound" name="sound" class="formInput">

        <label for="specialty" class="addElementLabel">Specialty:</label>
        <input type="text" id="specialty" name="specialty" class="formInput">

        <label for="notes" class="addElementLabel">Notes:</label>
        <input type="text" id="notes" name="notes" class="formInput">


        <button type="button" onclick="addCrew()" class="basicButton" id = "addCrewButton">
            Add Crew
        </button>

    </form>


</body>