<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crew In Show</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/common.js"></script>
    <script src="/showScript.js"></script>
</head>

<body class="page-background">
    <!-- Navigation-->
    <button onclick="location.href='/'" class="basicButton">Home</button>
    <button onclick="location.href='/show/loadpage'" class="basicButton">Back to Shows</button>

    <h1 id="show-title"></h1>

    <!-- Filter/Search controls-->


    <!--Table-->
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
                <th>Net ID</th>
            </tr>
        </thead>
        <tbody id="showCrew-table-body">
        </tbody>
    </table>

    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const params = new URLSearchParams(window.location.search);
            const showID = params.get("showID");
            loadCrewShow(showID);
        })



    </script>
</body>

</html>