<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/showScript.js"></script>
    <script src="/script.js"></script>
</head>

<body onload="loadShows();" class="page-background">
    <button onclick="location.href='/'" class="basicButton">Home</button>
    <h1 style="text-align: center;">Show Page</h1>
    <label for ="filter-input" style="margin-right: 10px;">Filter By Net ID:</label>
    <input type="text" placeholder="Search by NetID" id="filter-input" class="search-bar">

    <table class="styled-table">
        <thead>


            <th>Show ID</th>
            <th >Show Name</th>
            <th>Year/Semester</th>
            <th>Director</th>
            <th>Genre</th>
            <th>Playwright</th>

            </tr>
        </thead>
        <tbody id="show-table-body">
        </tbody>
    </table>

</body>