<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/actorScript.js"></script>
</head>

<body>
    <h2 style="text-align: center;">Welcome to Creighton Theater Database</h2>
    <table id="student-table">
        <thead>
            <tr>
                <th>NetID</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Pronouns</th>
                <th>Special Notes</th>
                <th>Email</th>
                <th>Allergies/Sensitivities</th>
            </tr>
        </thead>
        <tbody id="student-table-body">
        </tbody>    
    </table>


</body>