<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/common.js"></script>
</head>

<body class="page-background">
    <h1 style="font-size: 40px">Welcome to Creighton Theater Database</h1>
    <div class="buttons-container">
        <button class="home-buttons" onclick="location.href='/student/loadpage'">VIEW STUDENTS</button>
        <button class="home-buttons" onclick="location.href='/actors/loadpage'">VIEW ACTORS</button>
        <button class="home-buttons" onclick="location.href='/crew/loadpage'">VIEW CREW</button>
        <button class="home-buttons" onclick="location.href='/show/loadpage'">VIEW SHOWS</button>
        <button class="home-buttons" onclick="location.href='/characters/loadpage'">VIEW CHARACTERS</button>
    </div>

</body>