<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2 style="text-align: center;">Welcome to Creighton Theater Database</h2>
    <table id="student-table">
        <thead>
            <tr>
                <th>NetID</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Pronouns</th>
                <th>Special Notes</th>
                <th>Email</th>
                <th>Allergies/Sensitivities</th>
            </tr>
        </thead>
        <tbody id="student-table-body">
        </tbody>    
    </table>
        

    <script>
        function loadStudents(){
            fetch('/student/getAll')
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('student-table-body');
                tableBody.innerHTML = '';

                data.forEach(student => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${student.netID}</td>
                        <td>${student.firstName} ${student.lastName}</td>
                        <td>${student.gradeLevel}</td>
                        <td>${student.pronouns}</td>
                        <td>${student.specialNotes}</td>
                        <td>${student.email}</td>
                        <td>${student.allergies_sensitivities}</td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => console.error('Error fetching student data:', error));
        }
    
        window.onload = loadStudents;
    </script>


</body>