<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/actorScript.js"></script>
</head>

<body onload="loadActors(); processFilter();" class="page-background">
    <button onclick="location.href='/'" class="basicButton">Home</button>
    <h1 style="text-align: center;">Actor Page</h1>
    <label for ="filter-input" style="margin-right: 10px;">Filter By Net ID:</label>
    <input type="text" placeholder="Search by value" id="filter-input" class="search-bar">

    <div class="wide-table-container">
    <table class="styled-table" style="border-collapse:collapse">
        <thead>
            <tr>
            <th class="sticky">NetID</th>
            <th>Years Acting Experience</th>
            <th>Skin Tone</th>
            <th>Piercings</th>



            </tr>
        </thead>
        <tbody id="actor-table-body">
        </tbody>
    </table>
    </div>
        <script>
        //dynamically updates the page as the user types into filter-input
        const filterInput = document.getElementById("filter-input");
        filterInput.addEventListener("input", () => {
            processFilter();
        });</script>


</body>