<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>

<body>
    <button onclick="location.href='/'">Home</button>
    <h1 style="text-align: center;">STUDENTS PAGE</h1>
    <input type="text" placeholder = "Search by value" id="filter-input">
    <button onclick = "processFilter()">Go!</button>
    <select id="filter-column">
        <option value="netID">NetID</option>
        <option value="name">Name</option>
        <option value="grade">Grade</option>
        <option value="allergiesSensitivities">Allergies/Sensitivities</option>
    </select>
    <table>
        <thead>
            <tr>
                <th>NetID</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Pronouns</th>
                <th>Special Notes</th>
                <th>Email</th>
                <th>Allergies/Sensitivities</th>
            </tr>
        </thead>
        <tbody id="student-table-body">
        </tbody>    
    </table>


</body>
    <script>window.onload = loadStudents;</script>