<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/characterScript.js"></script>
</head>

<body class="page-background">

    <button onclick="location.href='/'" class="basicButton">Home</button>
    <button onclick="location.href='/characters/loadpage'" class="basicButton"
        style="font-size: smaller; margin-bottom: var(--space-md);">Back to Character List</button>

    <h1 style="text-align: center;">ADD CHARACTER PAGE</h1>

    <form id="add-character-form">

        <label for="characterName" class="addElementLabel">Character Name:</label>
        <input type="text" id="characterName" name="characterName" class="formInput" required>
        <br><br>

        <label for="showName" class="addElementLabel">Show Name:</label>
        <input type="text" id="showName" name="showName" class="formInput" required>
        <br><br>

        

        <label for="netID" class="addElementLabel">NetID:</label>
        <input type="text" id="netID" name="netID" class="formInput" required>

        <button type="button" onclick="addCharacter()"
                class="basicButton">
            Add Character
        </button>

    </form>

</body>
