<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/characterScript.js"></script>
</head>

<body onload = " populateFilterDropdown(); loadCharacters(); processFilter();" class ="page-background">

    <button onclick="location.href='/'" class="basicButton">Home</button>
    <h1 style="text-align: center;">CHARACTERS PAGE</h1>
    <input type="text" placeholder="Search by value" id="filter-input" class="search-bar">
    <select id="filter-column" onchange="clearInput('filter-input');" class="filter-select"></select>
    <button onclick="location.href='/characters/addpage'" style = "float: right;" class = "basicButton">Add Character</button>

    <table>
        <thead>
            <tr>
                <th>Character Name</th>
                <th>Show Name</th>
                <th>Student Name</th>
                <th>NetID</th>
                <th>Show ID</th>
            </tr>
        </thead>
        <tbody id="character-table-body">
        </tbody>
    </table>

    <script>
        //dynamically updates the page as the user types into filter-input
        const filterInput = document.getElementById("filter-input");
        filterInput.addEventListener("input", () => {
            processFilter();
        });</script>
</body>
