<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Creighton Theater Database</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/characterScript.js"> </script>

</head>

<body class="page-background">

    <button onclick="location.href='/'" class="basicButton">Home</button>
    <button onclick="location.href='/student/loadpage'" class="basicButton"
        style="font-size: smaller; margin-bottom: var(--space-md);">Back to Student List</button>
    <h1 style="text-align: center;">EDIT STUDENT PAGE</h1>

    <form id="edit-student-form">
        <label for="netId" class="addElementLabel">NetID:</label>
        <input type="text" id="netID" name="netID" required style="align-items:center;" th:value="${character.characterName}" class="formInput">
        <br><br>

        <label for="firstName" class="addElementLabel">First Name:</label>
        <input type="text" id="firstName" name="firstName" required th:value="${character.showName}" class="formInput"><br><br>

        <button type="button" onclick="editCharacter('${character.characterName}')" class="basicButton">Edit Student</button>
    </form>
    <script>

    </script>
</body>